*.class
*.log

# sbt specific
.cache
.history
.csv
.lib/
.idea/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
src/main/resources/

# Scala-IDE specific
.scala_dependencies
.worksheet
